views/account.build.jade
extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					h3
						strong
							| Hello, Name Family!
					p.text-page.text-invite
						i From your My Account you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.
					h5.p-tb10
						strong Recent Orders
					table.responsive-table.campaign-table.table-content.m-t20
						thead.table-head
							tr
								th Product name
								th Date
								th Ship to
								th Total Amount
								th Status
								th
						tbody
							each cart in carts
								tr
									td(data-th="Product name: ")
										p.lato.m-b0
											strong
												=cart.title
									td(data-th="Date: ")
										p.lato.m-b0 12/16/2014
									td(data-th="Ship to: ")
										p.lato.m-b0
											| qwerty m
									td(data-th="Total Ammount: ")
										p.lato.m-b0
											| $21,000.00
									td(data-th="Status: ")
										p.lato.m-b0
											| Pending
									td
										p.m-b0
											a.link__page(href="") View order
					.row.m-t40
						.col-xs-12
							h5.title-border
								strong Account Information
					.row
						.col-sm-6
							h5
								strong
									| Contact Information
									a.btn.btn-edit.m-l10(href="")
										i.fa.fa-pencil
							p.text-label.lato
								| Name Family
							p.text-label.lato
								| mail@mail.com
							a.link-underline-text(href="")
								| Change Password
						.col-sm-6
							h5
								strong
									| Newsletters
									a.btn.btn-edit.m-l10(href="")
										i.fa.fa-pencil
							p.text-label.lato
								| You are currently not subscribed to any newsletter.
					.row.m-t40
						.col-xs-12
							h5.title-border
								strong.m-r10 Address Book
								a.link-underline-text(href="")
									| Manage Address
					.row
						.col-sm-6
							h5
								strong Default Billing Address
								a.btn.btn-edit.m-l10(href="")
									i.fa.fa-pencil
							p.text-label.lato
								| Name Family
							p.text-label.lato
								| cool street
							p.text-label.lato
								| Phoenix,Arizona,85001
							p.text-label.lato
								| T:adsad
						.col-sm-6
							h5
								strong Default Shipping Address
								a.btn.btn-edit.m-l10(href="")
									i.fa.fa-pencil
							p.text-label.lato
								| You have not set a default shipping address.

build/account.html
<!DOCTYPE html>
<html>
  <head>
    <title>Styli.st</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header clearfix">
        <div class="container header__content"><a href="" class="logo">styli.st</a>
          <button class="btn btn-menu"><i class="icon-menu"></i><span>Menu</span></button>
          <ul class="menu menu-right">
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-plus"></i><span>Sell</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-user"></i><span>login</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-cart"></i><span>cart</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link">
                <button class="btn btn-search"><i class="fa fa-search"></i></button></a></li>
          </ul>
          <ul class="menu">
            <li class="menu__item"><a href="" class="menu__item__link">Product catalog</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">Contact Us</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">Our vendors</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">How it works</a></li>
          </ul>
        </div>
      </header>
      <div class="page-content">
        <div class="container">
          <div class="row">
            <div class="col-md-3 sidebar">
              <h3 class="sidebar__title">Campaigns</h3>
              <ul class="sidebar__list">
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">New Campaign</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My campaigns</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">PayPal Account</a></li>
              </ul>
              <h3 class="sidebar__title">Market Place</h3>
              <ul class="sidebar__list">
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Seller Profile</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Create Attribute</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">New Products</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Product List</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Dashboard</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Transaction List</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Order History</a></li>
              </ul>
              <h3 class="sidebar__title">My Account Place</h3>
              <ul class="sidebar__list">
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Account Dashboard</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Account Information</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Address Book</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Orders</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Invite Friends</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Billing Agreements</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Product Reviews</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Wishlist</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Newsletter Subscriptions</a></li>
              </ul>
            </div>
            <div class="col-md-9">
              <h3><strong>Hello, Name Family!</strong></h3>
              <p class="text-page text-invite"><i>From your My Account you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.</i></p>
              <h5 class="p-tb10"><strong>Recent Orders</strong></h5>
              <table class="responsive-table campaign-table table-content m-t20">
                <thead class="table-head">
                  <tr>
                    <th>Product name</th>
                    <th>Date</th>
                    <th>Ship to</th>
                    <th>Total Amount</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td data-th="Product name: ">
                      <p class="lato m-b0"><strong>Friday the 13th: The Game</strong></p>
                    </td>
                    <td data-th="Date: ">
                      <p class="lato m-b0">12/16/2014</p>
                    </td>
                    <td data-th="Ship to: ">
                      <p class="lato m-b0">qwerty m</p>
                    </td>
                    <td data-th="Total Ammount: ">
                      <p class="lato m-b0">$21,000.00</p>
                    </td>
                    <td data-th="Status: ">
                      <p class="lato m-b0">Pending</p>
                    </td>
                    <td>
                      <p class="m-b0"><a href="" class="link__page">View order</a></p>
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Product name: ">
                      <p class="lato m-b0"><strong>Lion King: The Game</strong></p>
                    </td>
                    <td data-th="Date: ">
                      <p class="lato m-b0">12/16/2014</p>
                    </td>
                    <td data-th="Ship to: ">
                      <p class="lato m-b0">qwerty m</p>
                    </td>
                    <td data-th="Total Ammount: ">
                      <p class="lato m-b0">$21,000.00</p>
                    </td>
                    <td data-th="Status: ">
                      <p class="lato m-b0">Pending</p>
                    </td>
                    <td>
                      <p class="m-b0"><a href="" class="link__page">View order</a></p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="row m-t40">
                <div class="col-xs-12">
                  <h5 class="title-border"><strong>Account Information</strong></h5>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <h5><strong>Contact Information<a href="" class="btn btn-edit m-l10"><i class="fa fa-pencil"></i></a></strong></h5>
                  <p class="text-label lato">Name Family</p>
                  <p class="text-label lato">mail@mail.com</p><a href="" class="link-underline-text">Change Password</a>
                </div>
                <div class="col-sm-6">
                  <h5><strong>Newsletters<a href="" class="btn btn-edit m-l10"><i class="fa fa-pencil"></i></a></strong></h5>
                  <p class="text-label lato">You are currently not subscribed to any newsletter.</p>
                </div>
              </div>
              <div class="row m-t40">
                <div class="col-xs-12">
                  <h5 class="title-border"><strong class="m-r10">Address Book</strong><a href="" class="link-underline-text">Manage Address</a></h5>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <h5><strong>Default Billing Address</strong><a href="" class="btn btn-edit m-l10"><i class="fa fa-pencil"></i></a></h5>
                  <p class="text-label lato">Name Family</p>
                  <p class="text-label lato">cool street</p>
                  <p class="text-label lato">Phoenix,Arizona,85001</p>
                  <p class="text-label lato">T:adsad</p>
                </div>
                <div class="col-sm-6">
                  <h5><strong>Default Shipping Address</strong><a href="" class="btn btn-edit m-l10"><i class="fa fa-pencil"></i></a></h5>
                  <p class="text-label lato">You have not set a default shipping address.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h4 class="text-caps">Product catalog</h4>
            <ul>
              <li> <a href="">Publishing</a></li>
              <li> <a href="">Technology</a></li>
              <li> <a href="">Crafts</a></li>
              <li> <a href="">Design</a></li>
              <li> <a href="">Game</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4 class="text-caps">Shop</h4>
            <ul>
              <li> <a href="">How it works</a></li>
              <li> <a href="">About Us</a></li>
              <li> <a href="">Contact Us</a></li>
              <li> <a href="">Policies</a></li>
              <li> <a href="">Site map</a></li>
            </ul>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3 col-sm-6">
            <ul class="pull-sm-right social">
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-twitter"></i></a></li>
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-facebook"></i></a></li>
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="copyright">
          <p class="copyright__text">© Styli.ST 2015</p>
        </div>
      </div>
    </footer>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
