build/account-add-new-campaign.html
<!DOCTYPE html>
<html>
  <head>
    <title>Styli.st</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header clearfix">
        <div class="container header__content"><a href="" class="logo">styli.st</a>
          <button class="btn btn-menu"><i class="icon-menu"></i><span>Menu</span></button>
          <ul class="menu menu-right">
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-plus"></i><span>Sell</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-user"></i><span>login</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-cart"></i><span>cart</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link">
                <button class="btn btn-search"><i class="fa fa-search"></i></button></a></li>
          </ul>
          <ul class="menu">
            <li class="menu__item"><a href="" class="menu__item__link">Product catalog</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">Contact Us</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">Our vendors</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">How it works</a></li>
          </ul>
        </div>
      </header>
      <div class="page-content">
        <div class="container">
          <div class="row">
            <div class="col-md-3 sidebar">
              <h3 class="sidebar__title">Campaigns</h3>
              <ul class="sidebar__list">
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">New Campaign</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My campaigns</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">PayPal Account</a></li>
              </ul>
              <h3 class="sidebar__title">Market Place</h3>
              <ul class="sidebar__list">
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Seller Profile</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Create Attribute</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">New Products</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Product List</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Dashboard</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Transaction List</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Order History</a></li>
              </ul>
              <h3 class="sidebar__title">My Account Place</h3>
              <ul class="sidebar__list">
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Account Dashboard</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Account Information</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Address Book</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Orders</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Invite Friends</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Billing Agreements</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Product Reviews</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Wishlist</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Newsletter Subscriptions</a></li>
              </ul>
            </div>
            <div class="col-md-9">
              <h3><strong>Add new Campaign</strong></h3>
              <p class="text-page">Campaign Information</p>
              <div class="row m-t30">
                <div class="col-sm-8">
                  <p class="form-text-sign">Campaign Name</p>
                  <div class="form-group form-sign">
                    <input type="text" class="form-control">
                  </div>
                  <p class="form-text-sign">Description</p>
                  <div class="form-group form-sign">
                    <textarea rows="5" class="form-control"></textarea>
                  </div>
                  <button class="btn btn-big-primary">UPLOAD PHOTO</button>
                </div>
              </div>
              <div class="row m-t30">
                <div class="col-xs-12">
                  <p class="lato text-caps text-lighten">Please make sure to upload 5 required images (views):  <span class="text-orange">Formal Front, Formal Back, Formal Side, Close up (outside stitching), Close up (inside stitching).</span>
                  </p>
                  <p class="lato text-caps text-lighten">You can also include some optional views:  <span class="text-orange">Casual Front, Casual side, Casual back, Close up (fabrication details)</span>
                  </p>
                </div>
              </div>
              <div class="row m-t30">
                <div class="col-sm-4">
                  <p class="form-text-sign">Price</p>
                  <div class="form-group form-sign">
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-sm-4">
                  <p class="form-text-sign">Goals</p>
                  <div class="form-group form-sign">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8">
                  <p class="form-text-sign">Length (days)</p>
                  <div class="form-group form-sign">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row m-t30">
                <div class="col-sm-6"><a href="" class="link-underline">Back</a></div>
                <div class="col-sm-6 sm-right">
                  <button class="btn btn-primary">SAVE ADDRESS</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h4 class="text-caps">Product catalog</h4>
            <ul>
              <li> <a href="">Publishing</a></li>
              <li> <a href="">Technology</a></li>
              <li> <a href="">Crafts</a></li>
              <li> <a href="">Design</a></li>
              <li> <a href="">Game</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4 class="text-caps">Shop</h4>
            <ul>
              <li> <a href="">How it works</a></li>
              <li> <a href="">About Us</a></li>
              <li> <a href="">Contact Us</a></li>
              <li> <a href="">Policies</a></li>
              <li> <a href="">Site map</a></li>
            </ul>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3 col-sm-6">
            <ul class="pull-sm-right social">
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-twitter"></i></a></li>
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-facebook"></i></a></li>
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="copyright">
          <p class="copyright__text">© Styli.ST 2015</p>
        </div>
      </div>
    </footer>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

views/account-add-new-campaign.build.jade
extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					h3
						strong Add new Campaign
					p.text-page
						| Campaign Information
					.row.m-t30
						.col-sm-8
							p.form-text-sign
								| Campaign Name
							.form-group.form-sign
								input.form-control(type="text")
							p.form-text-sign
								| Description
							.form-group.form-sign
								textarea.form-control(rows="5")
							button.btn.btn-big-primary
								| UPLOAD PHOTO
					.row.m-t30
						.col-xs-12
							p.lato.text-caps.text-lighten
								| Please make sure to upload 5 required images (views): 
								=space
								span.text-orange Formal Front, Formal Back, Formal Side, Close up (outside stitching), Close up (inside stitching).
							p.lato.text-caps.text-lighten
								| You can also include some optional views: 
								=space
								span.text-orange Casual Front, Casual side, Casual back, Close up (fabrication details)
					.row.m-t30
						.col-sm-4
							p.form-text-sign
								| Price
							.form-group.form-sign
								input.form-control(type="text")
						.col-sm-4
							p.form-text-sign
								| Goals
							.form-group.form-sign
								input.form-control(type="text")
					.row
						.col-sm-8
							p.form-text-sign
								| Length (days)
							.form-group.form-sign
								input.form-control(type="text")
					.row.m-t30
						.col-sm-6
							a.link-underline(href="")
								| Back
						.col-sm-6.sm-right
							button.btn.btn-primary
								| SAVE ADDRESS
