views/account-product-list.build.jade
extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					h3
						strong My Product list
					.row.m-t30
						.col-sm-3
							p.form-text-sign
								| Product name
							.form-group.form-sign
								input.form-control(type="text", placeholder="Search by Product Name")
						.col-sm-5
							.row
								.col-xs-12
									p.form-text-sign
										| Date
								.col-xs-6
									.form-group.form-sign
										input.form-control(type="text", placeholder="From")
								.col-xs-6
									.form-group.form-sign
										input.form-control(type="text", placeholder="To")
						.col-sm-4
							p.form-text-sign
								| Product status
							.row
								.col-sm-6
									.form-group.form-sign
										input.form-control(type="text", placeholder="All")
								.col-sm-6
									.form-group.form-sign
										button.btn.btn-pull.btn-primary
											| Submit
					button.btn.btn-primary
						| Delete Products
					table.responsive-table.campaign-table.table-content.m-t20
						thead.table-head
							tr
								th
								th 
								th Product
								th Status
								th QTY. Confirmed
								th QTY. Pending
								th QTY. Sold
								th Earn amount
								th
						tbody
							each cart in carts
								tr
									td.campaign-checkbo
										label.cb-checkbo
											input.cb-checkbox(type="checkbox")
											span.cb-checkbo__content
									td.campaign-image
										a.product-image.list-image(href="")
											img(src=cart.image, alt="")
									td.campaign__cell(data-th="Product: ")
										h2.product-name	
											a(href="")
												=cart.title
										p.text-label.lato
											=cart.price + "$"
									td.campaign__cell(data-th="Status: ")
										p.text-label.lato
											| Approved
									td.campaign__cell(data-th="QTY Confirmed: ")
										p.text-label.lato
											| 2
									td.campaign__cell(data-th="QTY Pending: ")
										p.text-label.lato
											| 2
									td.campaign__cell(data-th="QTY Sold: ")
										p.text-label.lato
											| 2
									td.campaign__cell(data-th="Earn amount: ")
										p.text-label.lato
											| 0$
									td.campaign__cell
										i.fa.fa-pencil
										i.fa.fa-remove

build/account-product-list.html
<!DOCTYPE html>
<html>
  <head>
    <title>Styli.st</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header clearfix">
        <div class="container header__content"><a href="" class="logo">styli.st</a>
          <button class="btn btn-menu"><i class="icon-menu"></i><span>Menu</span></button>
          <ul class="menu menu-right">
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-plus"></i><span>Sell</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-user"></i><span>login</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-cart"></i><span>cart</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link">
                <button class="btn btn-search"><i class="fa fa-search"></i></button></a></li>
          </ul>
          <ul class="menu">
            <li class="menu__item"><a href="" class="menu__item__link">Product catalog</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">Contact Us</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">Our vendors</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">How it works</a></li>
          </ul>
        </div>
      </header>
      <div class="page-content">
        <div class="container">
          <div class="row">
            <div class="col-md-3 sidebar">
              <h3 class="sidebar__title">Campaigns</h3>
              <ul class="sidebar__list">
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">New Campaign</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My campaigns</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">PayPal Account</a></li>
              </ul>
              <h3 class="sidebar__title">Market Place</h3>
              <ul class="sidebar__list">
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Seller Profile</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Create Attribute</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">New Products</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Product List</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Dashboard</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Transaction List</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Order History</a></li>
              </ul>
              <h3 class="sidebar__title">My Account Place</h3>
              <ul class="sidebar__list">
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Account Dashboard</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Account Information</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Address Book</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Orders</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Invite Friends</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Billing Agreements</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Product Reviews</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Wishlist</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Newsletter Subscriptions</a></li>
              </ul>
            </div>
            <div class="col-md-9">
              <h3><strong>My Product list</strong></h3>
              <div class="row m-t30">
                <div class="col-sm-3">
                  <p class="form-text-sign">Product name</p>
                  <div class="form-group form-sign">
                    <input type="text" placeholder="Search by Product Name" class="form-control">
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="row">
                    <div class="col-xs-12">
                      <p class="form-text-sign">Date</p>
                    </div>
                    <div class="col-xs-6">
                      <div class="form-group form-sign">
                        <input type="text" placeholder="From" class="form-control">
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="form-group form-sign">
                        <input type="text" placeholder="To" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <p class="form-text-sign">Product status</p>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group form-sign">
                        <input type="text" placeholder="All" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group form-sign">
                        <button class="btn btn-pull btn-primary">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-primary">Delete Products</button>
              <table class="responsive-table campaign-table table-content m-t20">
                <thead class="table-head">
                  <tr>
                    <th></th>
                    <th> </th>
                    <th>Product</th>
                    <th>Status</th>
                    <th>QTY. Confirmed</th>
                    <th>QTY. Pending</th>
                    <th>QTY. Sold</th>
                    <th>Earn amount</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="campaign-checkbo">
                      <label class="cb-checkbo">
                        <input type="checkbox" class="cb-checkbox"><span class="cb-checkbo__content"></span>
                      </label>
                    </td>
                    <td class="campaign-image"><a href="" class="product-image list-image"><img src="http://www.kino-teatr.ru/news/5344/57612.jpg" alt=""></a></td>
                    <td data-th="Product: " class="campaign__cell">
                      <h2 class="product-name">	<a href="">Friday the 13th: The Game</a></h2>
                      <p class="text-label lato">99$
                      </p>
                    </td>
                    <td data-th="Status: " class="campaign__cell">
                      <p class="text-label lato">Approved</p>
                    </td>
                    <td data-th="QTY Confirmed: " class="campaign__cell">
                      <p class="text-label lato">2</p>
                    </td>
                    <td data-th="QTY Pending: " class="campaign__cell">
                      <p class="text-label lato">2</p>
                    </td>
                    <td data-th="QTY Sold: " class="campaign__cell">
                      <p class="text-label lato">2</p>
                    </td>
                    <td data-th="Earn amount: " class="campaign__cell">
                      <p class="text-label lato">0$</p>
                    </td>
                    <td class="campaign__cell"><i class="fa fa-pencil"></i><i class="fa fa-remove"></i></td>
                  </tr>
                  <tr>
                    <td class="campaign-checkbo">
                      <label class="cb-checkbo">
                        <input type="checkbox" class="cb-checkbox"><span class="cb-checkbo__content"></span>
                      </label>
                    </td>
                    <td class="campaign-image"><a href="" class="product-image list-image"><img src="http://a-z-animals.com/media/animals/images/original/raccoon9.jpg" alt=""></a></td>
                    <td data-th="Product: " class="campaign__cell">
                      <h2 class="product-name">	<a href="">Lion King: The Game</a></h2>
                      <p class="text-label lato">99$
                      </p>
                    </td>
                    <td data-th="Status: " class="campaign__cell">
                      <p class="text-label lato">Approved</p>
                    </td>
                    <td data-th="QTY Confirmed: " class="campaign__cell">
                      <p class="text-label lato">2</p>
                    </td>
                    <td data-th="QTY Pending: " class="campaign__cell">
                      <p class="text-label lato">2</p>
                    </td>
                    <td data-th="QTY Sold: " class="campaign__cell">
                      <p class="text-label lato">2</p>
                    </td>
                    <td data-th="Earn amount: " class="campaign__cell">
                      <p class="text-label lato">0$</p>
                    </td>
                    <td class="campaign__cell"><i class="fa fa-pencil"></i><i class="fa fa-remove"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h4 class="text-caps">Product catalog</h4>
            <ul>
              <li> <a href="">Publishing</a></li>
              <li> <a href="">Technology</a></li>
              <li> <a href="">Crafts</a></li>
              <li> <a href="">Design</a></li>
              <li> <a href="">Game</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4 class="text-caps">Shop</h4>
            <ul>
              <li> <a href="">How it works</a></li>
              <li> <a href="">About Us</a></li>
              <li> <a href="">Contact Us</a></li>
              <li> <a href="">Policies</a></li>
              <li> <a href="">Site map</a></li>
            </ul>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3 col-sm-6">
            <ul class="pull-sm-right social">
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-twitter"></i></a></li>
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-facebook"></i></a></li>
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="copyright">
          <p class="copyright__text">© Styli.ST 2015</p>
        </div>
      </div>
    </footer>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
