views/account-one-order.build.jade
extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					.row
						.col-sm-6
							h3
								strong ORDER #100000011 - PENDING
						.col-sm-6.sm-right.m-t10
							button.btn.btn-primary.m-r10
								| PRINT ORDER
							button.btn.btn-primary
								| REORDER
					.row.m-t20
						.col-xs-12
							h5.title-border
								strong About this order: Order Information
							p.text-label.lato.p-tb10
								| Order date: December 16,2015
					.row
						.col-sm-6.m-b20
							h5.p-b10
								strong Shipping Address
							p.text-label.lato
								| cool street
							p.text-label.lato
								| USA
							p.text-label.lato
								| phoenix, Arizona, 85001
							p.text-label.lato
								| T: adsasd
						.col-sm-6.m-b20
							h5.p-b10
								strong Billing Address
							p.text-label.lato
								| Flat Rate - Fixed
					.row
						.col-sm-6.m-b20
							h5.p-b10
								strong Shipping Method
							p.text-label.lato
								| cool street
							p.text-label.lato
								| USA
							p.text-label.lato
								| phoenix, Arizona, 85001
							p.text-label.lato
								| T: adsasd
						.col-sm-6.m-b20
							h5.p-b10
								strong Payment method
							p.text-label.lato
								| Bank transfer Payment
					.row
						.col-xs-12
							h5.p-b10
								strong Items Ordered
					table.responsive-table.cart-table.table-content
						thead.table-head
							tr
								th Product name
								th Sku
								th Price
								th Qty
								th Subtotal
						tbody
							tr
								td(data-th="Product name: ")
									p.text-black.lato
										strong 200 of 200 sold
									.progress(data-progress="100")
										.progress-line
									p.text-black.lato
										strong The campaign has been completed successfully
								td(data-th="Sku: ")
									p.text-label
										| Campagin -50
								td(data-th="Price: ")
									p.text-label
										| $100
								td(data-th="Price: ")
									p.text-label
										| Ordered: 2
										br
										| Canceled:2
								td(data-th="Price: ")
									p.text-label
										| $21,000
					.clearfix
						.is-table.text-right.pull-right
							.is-row
								p.form-text.is-cell.p-tr20 Subtotal:
								p.text-orange.p-t20.is-cell 
									i 20,000$
							.is-row
								p.form-text.is-cell.p-tr20 Shipping & Handling:
								p.text-orange.p-t20.is-cell 
									i 1,000$
							.is-row
								h4.text-black.p-tr20.is-cell.p-tr20
									strong Total:
								h4.text-orange.p-t20.is-cell
									strong 
										i 21,000$
					.row.m-t20
						.col-xs-12
							a.text-orange.text-caps(href="")
								< Back to my orders

build/account-one-order.html
<!DOCTYPE html>
<html>
  <head>
    <title>Styli.st</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header clearfix">
        <div class="container header__content"><a href="" class="logo">styli.st</a>
          <button class="btn btn-menu"><i class="icon-menu"></i><span>Menu</span></button>
          <ul class="menu menu-right">
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-plus"></i><span>Sell</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-user"></i><span>login</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-cart"></i><span>cart</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link">
                <button class="btn btn-search"><i class="fa fa-search"></i></button></a></li>
          </ul>
          <ul class="menu">
            <li class="menu__item"><a href="" class="menu__item__link">Product catalog</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">Contact Us</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">Our vendors</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">How it works</a></li>
          </ul>
        </div>
      </header>
      <div class="page-content">
        <div class="container">
          <div class="row">
            <div class="col-md-3 sidebar">
              <h3 class="sidebar__title">Campaigns</h3>
              <ul class="sidebar__list">
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">New Campaign</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My campaigns</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">PayPal Account</a></li>
              </ul>
              <h3 class="sidebar__title">Market Place</h3>
              <ul class="sidebar__list">
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Seller Profile</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Create Attribute</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">New Products</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Product List</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Dashboard</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Transaction List</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Order History</a></li>
              </ul>
              <h3 class="sidebar__title">My Account Place</h3>
              <ul class="sidebar__list">
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Account Dashboard</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Account Information</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Address Book</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Orders</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Invite Friends</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Billing Agreements</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Product Reviews</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Wishlist</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Newsletter Subscriptions</a></li>
              </ul>
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-sm-6">
                  <h3><strong>ORDER #100000011 - PENDING</strong></h3>
                </div>
                <div class="col-sm-6 sm-right m-t10">
                  <button class="btn btn-primary m-r10">PRINT ORDER</button>
                  <button class="btn btn-primary">REORDER</button>
                </div>
              </div>
              <div class="row m-t20">
                <div class="col-xs-12">
                  <h5 class="title-border"><strong>About this order: Order Information</strong></h5>
                  <p class="text-label lato p-tb10">Order date: December 16,2015</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 m-b20">
                  <h5 class="p-b10"><strong>Shipping Address</strong></h5>
                  <p class="text-label lato">cool street</p>
                  <p class="text-label lato">USA</p>
                  <p class="text-label lato">phoenix, Arizona, 85001</p>
                  <p class="text-label lato">T: adsasd</p>
                </div>
                <div class="col-sm-6 m-b20">
                  <h5 class="p-b10"><strong>Billing Address</strong></h5>
                  <p class="text-label lato">Flat Rate - Fixed</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 m-b20">
                  <h5 class="p-b10"><strong>Shipping Method</strong></h5>
                  <p class="text-label lato">cool street</p>
                  <p class="text-label lato">USA</p>
                  <p class="text-label lato">phoenix, Arizona, 85001</p>
                  <p class="text-label lato">T: adsasd</p>
                </div>
                <div class="col-sm-6 m-b20">
                  <h5 class="p-b10"><strong>Payment method</strong></h5>
                  <p class="text-label lato">Bank transfer Payment</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <h5 class="p-b10"><strong>Items Ordered</strong></h5>
                </div>
              </div>
              <table class="responsive-table cart-table table-content">
                <thead class="table-head">
                  <tr>
                    <th>Product name</th>
                    <th>Sku</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Subtotal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td data-th="Product name: ">
                      <p class="text-black lato"><strong>200 of 200 sold</strong></p>
                      <div data-progress="100" class="progress">
                        <div class="progress-line"></div>
                      </div>
                      <p class="text-black lato"><strong>The campaign has been completed successfully</strong></p>
                    </td>
                    <td data-th="Sku: ">
                      <p class="text-label">Campagin -50</p>
                    </td>
                    <td data-th="Price: ">
                      <p class="text-label">$100</p>
                    </td>
                    <td data-th="Price: ">
                      <p class="text-label">Ordered: 2<br>Canceled:2</p>
                    </td>
                    <td data-th="Price: ">
                      <p class="text-label">$21,000</p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="clearfix">
                <div class="is-table text-right pull-right">
                  <div class="is-row">
                    <p class="form-text is-cell p-tr20">Subtotal:</p>
                    <p class="text-orange p-t20 is-cell"> <i>20,000$</i></p>
                  </div>
                  <div class="is-row">
                    <p class="form-text is-cell p-tr20">Shipping & Handling:</p>
                    <p class="text-orange p-t20 is-cell"> <i>1,000$</i></p>
                  </div>
                  <div class="is-row">
                    <h4 class="text-black p-tr20 is-cell p-tr20"><strong>Total:</strong></h4>
                    <h4 class="text-orange p-t20 is-cell"><strong> <i>21,000$</i></strong></h4>
                  </div>
                </div>
              </div>
              <div class="row m-t20">
                <div class="col-xs-12"><a href="" class="text-orange text-caps">< Back to my orders</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h4 class="text-caps">Product catalog</h4>
            <ul>
              <li> <a href="">Publishing</a></li>
              <li> <a href="">Technology</a></li>
              <li> <a href="">Crafts</a></li>
              <li> <a href="">Design</a></li>
              <li> <a href="">Game</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4 class="text-caps">Shop</h4>
            <ul>
              <li> <a href="">How it works</a></li>
              <li> <a href="">About Us</a></li>
              <li> <a href="">Contact Us</a></li>
              <li> <a href="">Policies</a></li>
              <li> <a href="">Site map</a></li>
            </ul>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3 col-sm-6">
            <ul class="pull-sm-right social">
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-twitter"></i></a></li>
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-facebook"></i></a></li>
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="copyright">
          <p class="copyright__text">© Styli.ST 2015</p>
        </div>
      </div>
    </footer>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
