build/account-invite-yes.html
<!DOCTYPE html>
<html>
  <head>
    <title>Styli.st</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header clearfix">
        <div class="container header__content"><a href="" class="logo">styli.st</a>
          <button class="btn btn-menu"><i class="icon-menu"></i><span>Menu</span></button>
          <ul class="menu menu-right">
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-plus"></i><span>Sell</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-user"></i><span>login</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-cart"></i><span>cart</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link">
                <button class="btn btn-search"><i class="fa fa-search"></i></button></a></li>
          </ul>
          <ul class="menu">
            <li class="menu__item"><a href="" class="menu__item__link">Product catalog</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">Contact Us</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">Our vendors</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">How it works</a></li>
          </ul>
        </div>
      </header>
      <div class="page-content">
        <div class="container">
          <div class="row">
            <div class="col-md-3 sidebar">
              <h3 class="sidebar__title">Campaigns</h3>
              <ul class="sidebar__list">
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">New Campaign</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My campaigns</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">PayPal Account</a></li>
              </ul>
              <h3 class="sidebar__title">Market Place</h3>
              <ul class="sidebar__list">
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Seller Profile</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Create Attribute</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">New Products</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Product List</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Dashboard</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Transaction List</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Order History</a></li>
              </ul>
              <h3 class="sidebar__title">My Account Place</h3>
              <ul class="sidebar__list">
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Account Dashboard</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Account Information</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Address Book</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Orders</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Invite Friends</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Billing Agreements</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Product Reviews</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Wishlist</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Newsletter Subscriptions</a></li>
              </ul>
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-sm-7">
                  <h4><strong>Invite friends, earn 15$</strong></h4>
                  <p class="text-page text-invite"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo sunt repudiandae, iste aut illo, dolorum nisi, voluptatibus, quaerat minus ipsa accusantium. Accusamus omnis, recusandae quia. Dolore at sed, aut eius.</p>
                </div>
                <div class="col-sm-4 text-center">
                  <h5><strong>Styli.st credit</strong></h5>
                  <h4><i class="text-orange">0.00$</i></h4>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 m-t20">
                  <h4><strong>Share Styli.st</strong></h4>
                  <ul class="social m-t20">
                    <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-envelope-o"></i></a></li>
                    <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-twitter"></i></a></li>
                    <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-facebook"></i></a></li>
                    <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="row m-t40">
                <div class="col-xs-12">
                  <h4><strong>Share link</strong></h4>
                  <div class="row">
                    <p class="text-lighten p-t10 pull-sm-left lato p-rl15">http://www.styli.st/invite/  </p>
                    <div class="col-sm-2 col-lg-3">
                      <div class="form-group">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-3 m-b20">
                      <button class="btn btn-pull btn-primary">Change your link</button>
                    </div>
                    <div class="col-sm-3 m-b20">
                      <button class="btn btn-pull btn-primary">Save link</button>
                    </div>
                  </div>
                </div>
              </div>
              <h4> <strong>Invites</strong></h4>
              <table class="responsive-table cart-table table-content m-t20">
                <thead class="table-head">
                  <tr>
                    <th>Who</th>
                    <th>When</th>
                    <th>Status</th>
                    <th>Follow up</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td data-th="Who: ">
                      <p class="lato m-b0"><strong>koffeeman12345@gmail.com</strong></p>
                    </td>
                    <td data-th="When: ">
                      <p class="lato m-b0">12/16/2014</p>
                    </td>
                    <td data-th="Status: ">
                      <p class="lato m-b0">Signed up, but hasn’t placed an order</p>
                    </td>
                    <td data-th="Follow up: ">
                      <p class="lato m-b0">joined 5/10</p>
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Who: ">
                      <p class="lato m-b0"><strong>koffeeman12345@gmail.com</strong></p>
                    </td>
                    <td data-th="When: ">
                      <p class="lato m-b0">12/16/2014</p>
                    </td>
                    <td data-th="Status: ">
                      <p class="lato m-b0">Signed up, but hasn’t placed an order</p>
                    </td>
                    <td data-th="Follow up: ">
                      <p class="lato m-b0">joined 5/10</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h4 class="text-caps">Product catalog</h4>
            <ul>
              <li> <a href="">Publishing</a></li>
              <li> <a href="">Technology</a></li>
              <li> <a href="">Crafts</a></li>
              <li> <a href="">Design</a></li>
              <li> <a href="">Game</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4 class="text-caps">Shop</h4>
            <ul>
              <li> <a href="">How it works</a></li>
              <li> <a href="">About Us</a></li>
              <li> <a href="">Contact Us</a></li>
              <li> <a href="">Policies</a></li>
              <li> <a href="">Site map</a></li>
            </ul>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3 col-sm-6">
            <ul class="pull-sm-right social">
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-twitter"></i></a></li>
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-facebook"></i></a></li>
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="copyright">
          <p class="copyright__text">© Styli.ST 2015</p>
        </div>
      </div>
    </footer>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

views/account-invite-yes.build.jade
extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					.row
						.col-sm-7
							h4
								strong Invite friends, earn 15$
							p.text-page.text-invite
								|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo sunt repudiandae, iste aut illo, dolorum nisi, voluptatibus, quaerat minus ipsa accusantium. Accusamus omnis, recusandae quia. Dolore at sed, aut eius.
						.col-sm-4.text-center
							h5
								strong Styli.st credit
							h4
								i.text-orange 0.00$
					.row
						.col-xs-12.m-t20
							h4
								strong Share Styli.st
							ul.social.m-t20
								li.social__item
									a.social__item__link(href="")
										i.fa.fa-envelope-o
								li.social__item
									a.social__item__link(href="")
										i.fa.fa-twitter
								li.social__item
									a.social__item__link(href="")
										i.fa.fa-facebook
								li.social__item
									a.social__item__link(href="")
										i.fa.fa-instagram
					.row.m-t40
						.col-xs-12
							h4
								strong Share link
							.row
								p.text-lighten.p-t10.pull-sm-left.lato.p-rl15
									| http://www.styli.st/invite/  
								.col-sm-2.col-lg-3
									.form-group
										input.form-control(type="text")
								.col-sm-3.m-b20
									button.btn.btn-pull.btn-primary
										| Change your link
								.col-sm-3.m-b20
									button.btn.btn-pull.btn-primary
										| Save link
					h4 
						strong Invites

					table.responsive-table.cart-table.table-content.m-t20
						thead.table-head
							tr
								th Who
								th When
								th Status
								th Follow up
						tbody
							tr
								td(data-th="Who: ")
									p.lato.m-b0
										strong koffeeman12345@gmail.com
								td(data-th="When: ")
									p.lato.m-b0
										| 12/16/2014
								td(data-th="Status: ")
									p.lato.m-b0
										| Signed up, but hasn’t placed an order
								td(data-th="Follow up: ")
									p.lato.m-b0
										| joined 5/10
							tr
								td(data-th="Who: ")
									p.lato.m-b0
										strong koffeeman12345@gmail.com
								td(data-th="When: ")
									p.lato.m-b0
										| 12/16/2014
								td(data-th="Status: ")
									p.lato.m-b0
										| Signed up, but hasn’t placed an order
								td(data-th="Follow up: ")
									p.lato.m-b0
										| joined 5/10
