views/address-book-edit-address.build.jade
extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					h3
						strong Address Book
					p.text-page
						| Contact Information
					.row.m-t30
						.col-sm-6.col-md-4
							p.form-text-sign
								| First Name
							.form-group.form-sign
								input.form-control(type="text")
						.col-sm-6.col-md-4
							p.form-text-sign
								| Last Name
							.form-group.form-sign
								input.form-control(type="text")
					.row
						.col-sm-6.col-md-4
							p.form-text-sign
								| Company
							.form-group.form-sign
								input.form-control(type="text")
						.col-sm-6.col-md-4
							p.form-text-sign
								| Telephone
							.form-group.form-sign
								input.form-control(type="text")
					.row
						.col-md-8
							p.form-text-sign
								| Fax
							.form-group.form-sign
								input.form-control(type="text")
					p.text-page
						| Address Information
					.row.m-t30
						.col-md-8
							p.form-text-sign
								| Address 
								=space
								span.form-subtext
									i (line 1)
							.form-group.form-sign
								input.form-control(type="text")
						.col-md-8
							p.form-text-sign
								| Address 
								=space
								span.form-subtext
									i (line 2)
							.form-group.form-sign
								input.form-control(type="text")
					.row
						.col-sm-6.col-md-4
							p.form-text-sign
								| City
							.form-group.form-sign
								input.form-control(type="text")
						.col-sm-6.col-md-4
							p.form-text-sign
								| Postal code
							.form-group.form-sign
								input.form-control(type="text")
					.row.m-t30
						.col-md-8
							p.form-text-sign
								| State/province
							.form-group.form-sign
								select.form-control(type="text")
									option Belarus
									option Poland
					.row.m-t30
						.col-md-8
							p.form-text-sign
								| Country
							.form-group.form-sign
								select.form-control(type="text")
									option Belarus
									option Poland
					.row
						.col-xs-12
							label.cb-checkbo.sign__checkbo(for="billing")
								input#billing.cb-checkbox(type="checkbox")
								span.cb-checkbo__content Use as my default billing address
					.row
						.col-xs-12
							label.cb-checkbo.sign__checkbo(for="shipping")
								input#shipping.cb-checkbox(type="checkbox")
								span.cb-checkbo__content Use as my default shipping address
					.row.m-t30
						.col-md-8
							.row
								.col-sm-6.p-t10
									a.link-underline(href="")
										| Back
								.col-sm-6.sm-right
									button.btn.btn-primary
										| SAVE ADDRESS

build/address-book-edit-address.html
<!DOCTYPE html>
<html>
  <head>
    <title>Styli.st</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header clearfix">
        <div class="container header__content"><a href="" class="logo">styli.st</a>
          <button class="btn btn-menu"><i class="icon-menu"></i><span>Menu</span></button>
          <ul class="menu menu-right">
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-plus"></i><span>Sell</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-user"></i><span>login</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-cart"></i><span>cart</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link">
                <button class="btn btn-search"><i class="fa fa-search"></i></button></a></li>
          </ul>
          <ul class="menu">
            <li class="menu__item"><a href="" class="menu__item__link">Product catalog</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">Contact Us</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">Our vendors</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">How it works</a></li>
          </ul>
        </div>
      </header>
      <div class="page-content">
        <div class="container">
          <div class="row">
            <div class="col-md-3 sidebar">
              <h3 class="sidebar__title">Campaigns</h3>
              <ul class="sidebar__list">
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">New Campaign</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My campaigns</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">PayPal Account</a></li>
              </ul>
              <h3 class="sidebar__title">Market Place</h3>
              <ul class="sidebar__list">
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Seller Profile</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Create Attribute</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">New Products</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Product List</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Dashboard</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Transaction List</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Order History</a></li>
              </ul>
              <h3 class="sidebar__title">My Account Place</h3>
              <ul class="sidebar__list">
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Account Dashboard</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Account Information</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Address Book</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Orders</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Invite Friends</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Billing Agreements</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Product Reviews</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Wishlist</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Newsletter Subscriptions</a></li>
              </ul>
            </div>
            <div class="col-md-9">
              <h3><strong>Address Book</strong></h3>
              <p class="text-page">Contact Information</p>
              <div class="row m-t30">
                <div class="col-sm-6 col-md-4">
                  <p class="form-text-sign">First Name</p>
                  <div class="form-group form-sign">
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <p class="form-text-sign">Last Name</p>
                  <div class="form-group form-sign">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <p class="form-text-sign">Company</p>
                  <div class="form-group form-sign">
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <p class="form-text-sign">Telephone</p>
                  <div class="form-group form-sign">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <p class="form-text-sign">Fax</p>
                  <div class="form-group form-sign">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <p class="text-page">Address Information</p>
              <div class="row m-t30">
                <div class="col-md-8">
                  <p class="form-text-sign">Address  <span class="form-subtext"><i>(line 1)</i></span>
                  </p>
                  <div class="form-group form-sign">
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-8">
                  <p class="form-text-sign">Address  <span class="form-subtext"><i>(line 2)</i></span>
                  </p>
                  <div class="form-group form-sign">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <p class="form-text-sign">City</p>
                  <div class="form-group form-sign">
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <p class="form-text-sign">Postal code</p>
                  <div class="form-group form-sign">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row m-t30">
                <div class="col-md-8">
                  <p class="form-text-sign">State/province</p>
                  <div class="form-group form-sign">
                    <select type="text" class="form-control">
                      <option>Belarus</option>
                      <option>Poland</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row m-t30">
                <div class="col-md-8">
                  <p class="form-text-sign">Country</p>
                  <div class="form-group form-sign">
                    <select type="text" class="form-control">
                      <option>Belarus</option>
                      <option>Poland</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <label for="billing" class="cb-checkbo sign__checkbo">
                    <input id="billing" type="checkbox" class="cb-checkbox"><span class="cb-checkbo__content">Use as my default billing address</span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <label for="shipping" class="cb-checkbo sign__checkbo">
                    <input id="shipping" type="checkbox" class="cb-checkbox"><span class="cb-checkbo__content">Use as my default shipping address</span>
                  </label>
                </div>
              </div>
              <div class="row m-t30">
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-sm-6 p-t10"><a href="" class="link-underline">Back</a></div>
                    <div class="col-sm-6 sm-right">
                      <button class="btn btn-primary">SAVE ADDRESS</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h4 class="text-caps">Product catalog</h4>
            <ul>
              <li> <a href="">Publishing</a></li>
              <li> <a href="">Technology</a></li>
              <li> <a href="">Crafts</a></li>
              <li> <a href="">Design</a></li>
              <li> <a href="">Game</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4 class="text-caps">Shop</h4>
            <ul>
              <li> <a href="">How it works</a></li>
              <li> <a href="">About Us</a></li>
              <li> <a href="">Contact Us</a></li>
              <li> <a href="">Policies</a></li>
              <li> <a href="">Site map</a></li>
            </ul>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3 col-sm-6">
            <ul class="pull-sm-right social">
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-twitter"></i></a></li>
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-facebook"></i></a></li>
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="copyright">
          <p class="copyright__text">© Styli.ST 2015</p>
        </div>
      </div>
    </footer>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
