build/cart.html
<!DOCTYPE html>
<html>
  <head>
    <title>Styli.st</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header clearfix">
        <div class="container header__content"><a href="" class="logo">styli.st</a>
          <button class="btn btn-menu"><i class="icon-menu"></i><span>Menu</span></button>
          <ul class="menu menu-right">
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-plus"></i><span>Sell</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-user"></i><span>login</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-cart"></i><span>cart</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link">
                <button class="btn btn-search"><i class="fa fa-search"></i></button></a></li>
          </ul>
          <ul class="menu">
            <li class="menu__item"><a href="" class="menu__item__link">Product catalog</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">Contact Us</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">Our vendors</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">How it works</a></li>
          </ul>
        </div>
      </header>
      <div class="header__alert">
        <div class="container">
          <p class="header__alert__text pull-left">Coupon code “name” was applied</p>
          <div class="pull-right">
            <button class="btn btn-alert-remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
      </div>
      <div class="page-content">
        <div class="container">
          <table class="responsive-table cart-table">
            <thead class="table-head">
              <tr>
                <th></th>
                <th>Product Name</th>
                <th>QTY</th>
                <th colspan="2">Amount						</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="product__image"><a href="" class="product-image"><img src="http://www.kino-teatr.ru/news/5344/57612.jpg" alt=""></a></td>
                <td class="product__name">
                  <h2 class="product-name">	<a href="">Friday the 13th: The Game</a></h2>
                  <p class="product-option"><span>Head option:</span>Option 1
                  </p>
                  <p class="product-option"><span>Head option:</span>Option 2
                  </p>
                </td>
                <td class="product__qty">
                  <div class="quantity">
                    <div class="quantity__block input-group clearfix">
                      <button data-decrement class="quantity__decrement input-group-btn">-</button>
                      <input type="text" value="1" data-control class="quantity__control form-control">
                      <button data-increment class="quantity__increment input-group-btn">+</button>
                    </div>
                  </div>
                </td>
                <td class="product__amount">99
                </td>
                <td class="product__control"><i class="fa fa-pencil"></i><i class="fa fa-remove"></i></td>
              </tr>
              <tr>
                <td class="product__image"><a href="" class="product-image"><img src="http://a-z-animals.com/media/animals/images/original/raccoon9.jpg" alt=""></a></td>
                <td class="product__name">
                  <h2 class="product-name">	<a href="">Lion King: The Game</a></h2>
                  <p class="product-option"><span>Head option:</span>Option 2
                  </p>
                  <p class="product-option"><span>Head option:</span>Option 2
                  </p>
                </td>
                <td class="product__qty">
                  <div class="quantity">
                    <div class="quantity__block input-group clearfix">
                      <button data-decrement class="quantity__decrement input-group-btn">-</button>
                      <input type="text" value="1" data-control class="quantity__control form-control">
                      <button data-increment class="quantity__increment input-group-btn">+</button>
                    </div>
                  </div>
                </td>
                <td class="product__amount">99
                </td>
                <td class="product__control"><i class="fa fa-pencil"></i><i class="fa fa-remove"></i></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="50"><a href="" class="link-underline">Continue shopping</a>
                  <div class="pull-sm-right">
                    <button class="btn btn-update"><i class="icon-bag"></i>Empty cart</button>
                    <button class="btn btn-update"><i class="icon-update"></i>Update cart</button>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
          <div class="row">
            <div class="col-md-3 col-sm-4">
              <p class="form-text"><strong>Estimate shipping and tax</strong></p>
              <div class="form-group">
                <select class="form-control">
                  <option>Country</option>
                  <option>Russia</option>
                  <option>Germany</option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control">
                  <option>State/Province</option>
                  <option>One</option>
                  <option>Two</option>
                </select>
              </div>
              <div class="form-group">
                <input type="text" placeholder="Zip/Postal Code" class="form-control">
              </div>
              <button class="btn btn-primary btn-pull m-b20">Get a Quote</button>
              <p class="form-text"><strong>Standard ground shipping</strong></p>
              <div class="row">
                <div class="col-xs-12">
                  <label class="cb-radio sign__radio">
                    <input type="radio" class="cb-radiox"><span class="cb-radio__content">UPS 8.95$</span>
                  </label>
                </div>
              </div>
              <p class="form-text"><strong>Second business day</strong></p>
              <div class="row">
                <div class="col-xs-12">
                  <label class="cb-radio sign__radio">
                    <input type="radio" class="cb-radiox"><span class="cb-radio__content">Fixed 19.95$</span>
                  </label>
                </div>
              </div>
              <button class="btn btn-primary btn-pull m-b20">Update Total</button>
            </div>
            <div class="col-md-3 col-sm-4">
              <p class="form-text"><strong>Discount Coupon</strong></p>
              <div class="form-group">
                <input type="text" placeholder="Coupon Code" class="form-control">
              </div>
              <button class="btn btn-primary btn-pull m-b20">Apply Coupon</button>
            </div>
            <div class="col-md-6 col-sm-4">
              <div class="is-table pull-right text-right">
                <div class="is-row">
                  <p class="form-text is-cell p-tr20">Subtotal:</p>
                  <p class="text-orange p-t20 is-cell">€567,95</p>
                </div>
                <div class="is-row">
                  <p class="form-text is-cell p-tr20">Subtotal:</p>
                  <p class="text-orange p-t20 is-cell">€567,95</p>
                </div>
                <div class="is-row">
                  <p class="form-text p-tr20 is-cell p-tr20"><strong>Total:</strong></p>
                  <p class="text-orange p-t20 is-cell"><strong> <i>€567,95</i></strong></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-md-offset-6">
                  <button class="btn btn-primary btn-pull m-tb20">CHECKOUT</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h4 class="text-caps">Product catalog</h4>
            <ul>
              <li> <a href="">Publishing</a></li>
              <li> <a href="">Technology</a></li>
              <li> <a href="">Crafts</a></li>
              <li> <a href="">Design</a></li>
              <li> <a href="">Game</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4 class="text-caps">Shop</h4>
            <ul>
              <li> <a href="">How it works</a></li>
              <li> <a href="">About Us</a></li>
              <li> <a href="">Contact Us</a></li>
              <li> <a href="">Policies</a></li>
              <li> <a href="">Site map</a></li>
            </ul>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3 col-sm-6">
            <ul class="pull-sm-right social">
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-twitter"></i></a></li>
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-facebook"></i></a></li>
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="copyright">
          <p class="copyright__text">© Styli.ST 2015</p>
        </div>
      </div>
    </footer>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

views/cart.build.jade
doctype html
html
	include includes/head	
	body
		.wrapper
			include includes/header_coupon
			.page-content
				.container
					table.responsive-table.cart-table
						thead.table-head
							tr
								th
								th Product Name
								th QTY
								th(colspan="2") Amount						
						tbody
							each cart in carts
								tr
									td.product__image
										a.product-image(href="")
											img(src=cart.image, alt="")
									td.product__name
										h2.product-name	
											a(href="")
												=cart.title	
										p.product-option
											span Head option:
											=space
											=cart.category
										p.product-option
											span Head option:
											=space
											| Option 2
									td.product__qty
										.quantity
											.quantity__block.input-group.clearfix
												button.quantity__decrement.input-group-btn(data-decrement) -
												input.quantity__control.form-control(type='text', value='8', data-control, value="1")
												button.quantity__increment.input-group-btn(data-increment) +
									td.product__amount
										=cart.price
									td.product__control
										i.fa.fa-pencil
										i.fa.fa-remove
						tfoot
							tr
								td(colspan="50")
									a(href="").link-underline
										| Continue shopping
									.pull-sm-right
										button.btn.btn-update
											i.icon-bag
											| Empty cart
										button.btn.btn-update
											i.icon-update
											| Update cart
					.row
						.col-md-3.col-sm-4
							p.form-text
								strong Estimate shipping and tax
							.form-group
								select.form-control
									option Country
									option Russia
									option Germany
							.form-group
								select.form-control
									option State/Province
									option One
									option Two
							.form-group
								input.form-control(type="text", placeholder="Zip/Postal Code")
							button.btn.btn-primary.btn-pull.m-b20
								| Get a Quote
							p.form-text
								strong Standard ground shipping
							.row
								.col-xs-12
									label.cb-radio.sign__radio
										input.cb-radiox(type="radio")
										span.cb-radio__content
											| UPS 8.95$
							p.form-text
								strong Second business day
							.row
								.col-xs-12
									label.cb-radio.sign__radio
										input.cb-radiox(type="radio")
										span.cb-radio__content
											| Fixed 19.95$
							button.btn.btn-primary.btn-pull.m-b20
								| Update Total
						.col-md-3.col-sm-4
							p.form-text
								strong Discount Coupon
							.form-group
								input.form-control(type="text", placeholder="Coupon Code")
							button.btn.btn-primary.btn-pull.m-b20
								| Apply Coupon
						.col-md-6.col-sm-4
							.is-table.pull-right.text-right
								.is-row
									p.form-text.is-cell.p-tr20 Subtotal:
									p.text-orange.p-t20.is-cell €567,95
								.is-row
									p.form-text.is-cell.p-tr20 Subtotal:
									p.text-orange.p-t20.is-cell €567,95
								.is-row
									p.form-text.p-tr20.is-cell.p-tr20
										strong Total:
									p.text-orange.p-t20.is-cell
										strong 
											i €567,95
							.row
								.col-md-6.col-md-offset-6
									button.btn.btn-primary.btn-pull.m-tb20
										| CHECKOUT
		include includes/footer
		include includes/foot
