build/checkout_card_new_address.html
<!DOCTYPE html>
<html>
  <head>
    <title>Styli.st</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header clearfix">
        <div class="container header__content"><a href="" class="logo">styli.st</a>
          <button class="btn btn-menu"><i class="icon-menu"></i><span>Menu</span></button>
          <ul class="menu menu-right">
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-plus"></i><span>Sell</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-user"></i><span>login</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-cart"></i><span>cart</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link">
                <button class="btn btn-search"><i class="fa fa-search"></i></button></a></li>
          </ul>
          <ul class="menu">
            <li class="menu__item"><a href="" class="menu__item__link">Product catalog</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">Contact Us</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">Our vendors</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">How it works</a></li>
          </ul>
        </div>
      </header>
      <div class="page-content">
        <div class="container">
          <h2 class="title__login text-center">Billing address</h2>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
              <p class="form-text-sign">SELECT A BILLING ADDRESS FROM YOUR ADDRESS BOOK OR ENTER A NEW ADDRESS</p>
              <div class="form-group form-sign">
                <select class="form-control">
                  <option>Arizona</option>
                  <option>Tehas</option>
                  <option>Washington</option>
                </select>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <p class="form-text-sign">First Number</p>
                  <div class="form-group form-sign">
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <p class="form-text-sign">Last Name</p>
                  <div class="form-group form-sign">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <p class="form-text-sign">Phone Number</p>
              <div class="form-group form-sign">
                <input type="text" class="form-control">
              </div>
              <p class="form-text-sign">State/province</p>
              <div class="form-group form-sign">
                <select class="form-control">
                  <option>Arizona</option>
                  <option>Tehas</option>
                  <option>Washington</option>
                </select>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <p class="form-text-sign">Address  <span class="form-subtext"><i>(line 1)</i></span>
                  </p>
                  <div class="form-group form-sign">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <p class="form-text-sign">Address  <span class="form-subtext"><i>(line 2)</i></span>
                  </p>
                  <div class="form-group form-sign">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <p class="form-text-sign">City</p>
                  <div class="form-group form-sign">
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <p class="form-text-sign">Postal code</p>
                  <div class="form-group form-sign">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <label for="create_account" class="cb-checkbo sign__checkbo">
                    <input id="create_account" type="checkbox" class="cb-checkbox"><span class="cb-checkbo__content">Create account for later use</span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <label for="ship_address" class="cb-checkbo sign__checkbo">
                    <input id="ship_address" type="checkbox" class="cb-checkbox"><span class="cb-checkbo__content">Ship to this address</span>
                  </label>
                </div>
              </div>
              <div class="sign-border text-center"><img src="images/pictures/checkout-border.png" alt=""></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
              <h2 class="title__login text-center">Shipping method</h2>
              <div class="row">
                <div class="col-sm-4">
                  <label for="standart" class="cb-radio sign__radio">
                    <input id="standart" type="radio" name="radio-group" class="cb-radiox"><span class="cb-radio__content">Standart schipping 7$</span>
                  </label>
                </div>
                <div class="col-sm-4">
                  <label for="second" class="cb-radio sign__radio">
                    <input id="second" type="radio" name="radio-group" class="cb-radiox"><span class="cb-radio__content">Second Business Day 20$</span>
                  </label>
                </div>
                <div class="col-sm-4">
                  <label for="next" class="cb-radio sign__radio">
                    <input id="next" type="radio" name="radio-group" class="cb-radiox"><span class="cb-radio__content">Next Business Day 30$</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
              <div class="sign-border text-center"><img src="images/pictures/checkout-border.png" alt=""></div>
              <h2 class="title__login text-center">Payment Method</h2>
              <h3 class="title__login__subtitle login__indent">Choose your payment method</h3>
              <div class="row">
                <div class="col-sm-6 text-center">
                  <label for="card" class="cb-radio cb-img">
                    <input id="card" type="radio" name="pay-group" data-show=".pay-card" data-hide=".paypal" checked class="cb-radiox"><span class="cb-img__content"><img src="images/pay/card.jpg" alt=""></span>
                  </label>
                </div>
                <div class="col-sm-6">
                  <label for="paypal" class="cb-radio cb-img">
                    <input id="paypal" type="radio" name="pay-group" data-show=".paypal" data-hide=".pay-card" class="cb-radiox"><span class="cb-img__content"><img src="images/pay/paypal.jpg" alt=""></span>
                  </label>
                </div>
              </div>
              <div class="pay-card">
                <div class="row">
                  <div class="col-sm-6">
                    <p class="form-text-sign">Card Number</p>
                    <div class="form-group form-sign">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <p class="form-text-sign">CVV Number</p>
                    <div class="form-group form-sign">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p class="form-text-sign">Expiry date</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group form-sign">
                      <select class="form-control">
                        <option>Exp. Mounth</option>
                        <option>Tehas</option>
                        <option>Washington</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group form-sign">
                      <select class="form-control">
                        <option>Exp. Year</option>
                        <option>Tehas</option>
                        <option>Washington</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="paypal is-hidden text-center">
                <h4 class="subtext-page"><i>You will be redirected to the PayPal website when you place the order.</i></h4>
                <p class="text-page"> <i>Paypal is the secure way to make your payment.</i></p>
              </div>
              <div class="sign-border text-center"><img src="images/pictures/checkout-border.png" alt=""></div>
              <h2 class="text-center login__indent"><strong>Discount Codes</strong></h2>
              <div class="row m-t20">
                <div class="col-sm-6">
                  <div class="form-group form-sign">
                    <input type="text" placeholder="Coupon code" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <button class="btn-primary btn-pull btn-form">Apply code</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h2 class="text-center login__indent"><strong>Order review</strong></h2>
          <table class="responsive-table cart-table">
            <thead class="table-head">
              <tr>
                <th></th>
                <th>Product Name</th>
                <th class="text-center">QTY</th>
                <th class="text-center">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="product__image"><a href="" class="product-image"><img src="http://www.kino-teatr.ru/news/5344/57612.jpg" alt=""></a></td>
                <td class="product__name">
                  <h2 class="product-name">	<a href="">Friday the 13th: The Game</a></h2>
                </td>
                <td class="product__qty text-center">1</td>
                <td class="product__amount text-center">99
                </td>
              </tr>
              <tr>
                <td class="product__image"><a href="" class="product-image"><img src="http://a-z-animals.com/media/animals/images/original/raccoon9.jpg" alt=""></a></td>
                <td class="product__name">
                  <h2 class="product-name">	<a href="">Lion King: The Game</a></h2>
                </td>
                <td class="product__qty text-center">1</td>
                <td class="product__amount text-center">99
                </td>
              </tr>
            </tbody>
          </table>
          <div class="clearfix">
            <div class="is-table text-right pull-right">
              <div class="is-row">
                <p class="form-text is-cell p-tr20">Subtotal:</p>
                <p class="text-muted p-t20 is-cell">€567,95</p>
              </div>
              <div class="is-row">
                <p class="form-text is-cell p-tr20">Shipping & Handling (Standart Ground Shipping - UPS):</p>
                <p class="text-muted p-t20 is-cell">€567,95</p>
              </div>
              <div class="is-row">
                <p class="text-orange p-tr20 is-cell p-tr20"><strong>Total:</strong></p>
                <p class="text-orange p-t20 is-cell"><strong> <i>€567,95</i></strong></p>
              </div>
            </div>
          </div>
          <div class="row m-tb20">
            <div class="col-sm-3 pull-right">
              <button class="btn btn-primary btn-pull">PAY NOW</button>
            </div>
          </div>
        </div>
      </div>
      <div id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
              <h2 class="text-caps text-center login__indent">Login to your Account</h2>
              <p class="form-text-sign">E-mail</p>
              <div class="form-group form-sign has-error">
                <input type="text" class="form-control">
              </div>
              <div class="clearfix">
                <p class="form-text-sign pull-left">Password</p>
                <div class="pull-right"><a href="" class="link__page"><i>forgot password</i></a></div>
              </div>
              <div class="form-group form-sign">
                <input type="text" class="form-control">
              </div>
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <div class="form-group">
                    <button class="btn btn-primary btn-pull">LOG IN</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h4 class="text-caps">Product catalog</h4>
            <ul>
              <li> <a href="">Publishing</a></li>
              <li> <a href="">Technology</a></li>
              <li> <a href="">Crafts</a></li>
              <li> <a href="">Design</a></li>
              <li> <a href="">Game</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4 class="text-caps">Shop</h4>
            <ul>
              <li> <a href="">How it works</a></li>
              <li> <a href="">About Us</a></li>
              <li> <a href="">Contact Us</a></li>
              <li> <a href="">Policies</a></li>
              <li> <a href="">Site map</a></li>
            </ul>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3 col-sm-6">
            <ul class="pull-sm-right social">
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-twitter"></i></a></li>
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-facebook"></i></a></li>
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="copyright">
          <p class="copyright__text">© Styli.ST 2015</p>
        </div>
      </div>
    </footer>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

views/checkout_card_new_address.build.jade
extends includes/layout
block content
	.page-content
		.container
			h2.title__login.text-center
				| Billing address
			.row
				.col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
					p.form-text-sign
						| SELECT A BILLING ADDRESS FROM YOUR ADDRESS BOOK OR ENTER A NEW ADDRESS
					.form-group.form-sign
						select.form-control
							option Arizona
							option Tehas
							option Washington
					.row
						.col-sm-6
							p.form-text-sign
								| First Number
							.form-group.form-sign
								input.form-control(type="text")
						.col-sm-6
							p.form-text-sign
								| Last Name
							.form-group.form-sign
								input.form-control(type="text")
					p.form-text-sign
						| Phone Number
					.form-group.form-sign
						input.form-control(type="text")
					p.form-text-sign
						| State/province
					.form-group.form-sign
						select.form-control
							option Arizona
							option Tehas
							option Washington
					.row
						.col-xs-12
							p.form-text-sign
								| Address 
								=space
								span.form-subtext
									i (line 1)
							.form-group.form-sign
								input.form-control(type="text")
					.row
						.col-xs-12
							p.form-text-sign
								| Address 
								=space
								span.form-subtext
									i (line 2)
							.form-group.form-sign
								input.form-control(type="text")
					.row
						.col-sm-6
							p.form-text-sign
								| City
							.form-group.form-sign
								input.form-control(type="text")
						.col-sm-6
							p.form-text-sign
								| Postal code
							.form-group.form-sign
								input.form-control(type="text")
					.row
						.col-xs-12
							label.cb-checkbo.sign__checkbo(for="create_account")
								input#create_account.cb-checkbox(type="checkbox")
								span.cb-checkbo__content Create account for later use
					.row
						.col-xs-12
							label.cb-checkbo.sign__checkbo(for="ship_address")
								input#ship_address.cb-checkbox(type="checkbox")
								span.cb-checkbo__content Ship to this address
					.sign-border.text-center
						img(src="images/pictures/checkout-border.png", alt="")
			.row
				.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
					h2.title__login.text-center
						| Shipping method
					.row
						.col-sm-4
							label.cb-radio.sign__radio(for="standart")
								input#standart.cb-radiox(type="radio", name="radio-group")
								span.cb-radio__content Standart schipping 7$
						.col-sm-4
							label.cb-radio.sign__radio(for="second")
								input#second.cb-radiox(type="radio", name="radio-group")
								span.cb-radio__content Second Business Day 20$
						.col-sm-4
							label.cb-radio.sign__radio(for="next")
								input#next.cb-radiox(type="radio", name="radio-group")
								span.cb-radio__content Next Business Day 30$
			.row
				.col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
					.sign-border.text-center
						img(src="images/pictures/checkout-border.png", alt="")
					h2.title__login.text-center
						| Payment Method
					h3.title__login__subtitle.login__indent
						| Choose your payment method
					.row
						.col-sm-6.text-center
							label.cb-radio.cb-img(for="card")
								input#card.cb-radiox(type="radio", name="pay-group", data-show=".pay-card", data-hide=".paypal", checked)
								span.cb-img__content
									img(src="images/pay/card.jpg", alt="")
						.col-sm-6
							label.cb-radio.cb-img(for="paypal")
								input#paypal.cb-radiox(type="radio", name="pay-group", data-show=".paypal", data-hide=".pay-card")
								span.cb-img__content
									img(src="images/pay/paypal.jpg", alt="")
					.pay-card
						.row
							.col-sm-6
								p.form-text-sign
									| Card Number
								.form-group.form-sign
									input.form-control(type="text")
							.col-sm-6
								p.form-text-sign
									| CVV Number
								.form-group.form-sign
									input.form-control(type="text")
						.row
							.col-xs-12
								p.form-text-sign
									| Expiry date
						.row
							.col-sm-6
								.form-group.form-sign
									select.form-control
										option Exp. Mounth
										option Tehas
										option Washington
							.col-sm-6
								.form-group.form-sign
									select.form-control
										option Exp. Year
										option Tehas
										option Washington
					.paypal.is-hidden.text-center
						h4.subtext-page
							i You will be redirected to the PayPal website when you place the order.
						p.text-page 
							i Paypal is the secure way to make your payment.
					.sign-border.text-center
						img(src="images/pictures/checkout-border.png", alt="")
					h2.text-center.login__indent
						strong Discount Codes
					.row.m-t20
						.col-sm-6
							.form-group.form-sign
								input.form-control(type="text", placeholder="Coupon code")
						.col-sm-6
							.form-group
								button.btn-primary.btn-pull.btn-form
									| Apply code
			h2.text-center.login__indent
				strong Order review
			table.responsive-table.cart-table
				thead.table-head
					tr
						th
						th Product Name
						th.text-center QTY
						th.text-center Amount
				tbody
					each cart in carts
						tr
							td.product__image
								a.product-image(href="")
									img(src=cart.image, alt="")
							td.product__name
								h2.product-name	
									a(href="")
										=cart.title
							td.product__qty.text-center
								| 1
							td.product__amount.text-center
								=cart.price
			.clearfix
				.is-table.text-right.pull-right
					.is-row
						p.form-text.is-cell.p-tr20 Subtotal:
						p.text-muted.p-t20.is-cell €567,95
					.is-row
						p.form-text.is-cell.p-tr20 Shipping & Handling (Standart Ground Shipping - UPS):
						p.text-muted.p-t20.is-cell €567,95
					.is-row
						p.text-orange.p-tr20.is-cell.p-tr20
							strong Total:
						p.text-orange.p-t20.is-cell
							strong 
								i €567,95
			.row.m-tb20
				.col-sm-3.pull-right
					button.btn.btn-primary.btn-pull
						| PAY NOW
	#register.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-body
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					h2.text-caps.text-center.login__indent
						| Login to your Account
					p.form-text-sign
						| E-mail
					.form-group.form-sign.has-error
						input.form-control(type="text")
					.clearfix
						p.form-text-sign.pull-left
							| Password
						.pull-right
							a(href="").link__page
								i forgot password
					.form-group.form-sign
						input.form-control(type="text")
					.row
						.col-sm-6.col-sm-offset-3
							.form-group
								button.btn.btn-primary.btn-pull
									| LOG IN
