views/seller-profile.build.jade
extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					.row
						.col-sm-6
							h3
								strong Edit Profile Information
							p.text-page
								i Profile Information
						.col-sm-6.sm-right.m-t20
							button.btn.btn-primary
								| SAVE PROFILE
					.row.m-t30
						.col-md-8
							.row
								.col-sm-6
									p.form-text-sign
										| Shop title
									.form-group.form-sign
										input.form-control(type="text")
								.col-sm-6
									p.form-text-sign
										| Contact number
									.form-group.form-sign
										input.form-control(type="text")
							.row
								.col-xs-12
									label.cb-checkbo
										input.cb-checkbox(type="checkbox")
										span.cb-checkbo__content
											| Facebook
							.row.m-t10
								.col-xs-12
									.form-group.form-sign
										input.form-control(type="text")
							.row
								.col-xs-12
									label.cb-checkbo
										input.cb-checkbox(type="checkbox")
										span.cb-checkbo__content
											| Twitter
							.row.m-t10
								.col-xs-12
									.form-group.form-sign
										input.form-control(type="text")
							.row
								.col-xs-12
									label.cb-checkbo
										input.cb-checkbox(type="checkbox")
										span.cb-checkbo__content
											| Instagram
							.row.m-t10
								.col-xs-12
									.form-group.form-sign
										input.form-control(type="text")
							.clearfix
								button.btn.btn-primary
									| UPLOAD COMPANY BANNER
								span.lato.text-lighten.m-l20
									| Upload 870 px X 100 px for better look
					.row
						.

build/seller-profile.html
<!DOCTYPE html>
<html>
  <head>
    <title>Styli.st</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header clearfix">
        <div class="container header__content"><a href="" class="logo">styli.st</a>
          <button class="btn btn-menu"><i class="icon-menu"></i><span>Menu</span></button>
          <ul class="menu menu-right">
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-plus"></i><span>Sell</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-user"></i><span>login</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-cart"></i><span>cart</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link">
                <button class="btn btn-search"><i class="fa fa-search"></i></button></a></li>
          </ul>
          <ul class="menu">
            <li class="menu__item"><a href="" class="menu__item__link">Product catalog</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">Contact Us</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">Our vendors</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">How it works</a></li>
          </ul>
        </div>
      </header>
      <div class="page-content">
        <div class="container">
          <div class="row">
            <div class="col-md-3 sidebar">
              <h3 class="sidebar__title">Campaigns</h3>
              <ul class="sidebar__list">
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">New Campaign</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My campaigns</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">PayPal Account</a></li>
              </ul>
              <h3 class="sidebar__title">Market Place</h3>
              <ul class="sidebar__list">
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Seller Profile</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Create Attribute</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">New Products</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Product List</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Dashboard</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Transaction List</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Order History</a></li>
              </ul>
              <h3 class="sidebar__title">My Account Place</h3>
              <ul class="sidebar__list">
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Account Dashboard</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Account Information</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Address Book</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Orders</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Invite Friends</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Billing Agreements</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Product Reviews</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">My Wishlist</a></li>
                <li class="sidebar__list__item"><a href="" class="sidebar__list__item__link">Newsletter Subscriptions</a></li>
              </ul>
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-sm-6">
                  <h3><strong>Edit Profile Information</strong></h3>
                  <p class="text-page"><i>Profile Information</i></p>
                </div>
                <div class="col-sm-6 sm-right m-t20">
                  <button class="btn btn-primary">SAVE PROFILE</button>
                </div>
              </div>
              <div class="row m-t30">
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-sm-6">
                      <p class="form-text-sign">Shop title</p>
                      <div class="form-group form-sign">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <p class="form-text-sign">Contact number</p>
                      <div class="form-group form-sign">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <label class="cb-checkbo">
                        <input type="checkbox" class="cb-checkbox"><span class="cb-checkbo__content">Facebook</span>
                      </label>
                    </div>
                  </div>
                  <div class="row m-t10">
                    <div class="col-xs-12">
                      <div class="form-group form-sign">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <label class="cb-checkbo">
                        <input type="checkbox" class="cb-checkbox"><span class="cb-checkbo__content">Twitter</span>
                      </label>
                    </div>
                  </div>
                  <div class="row m-t10">
                    <div class="col-xs-12">
                      <div class="form-group form-sign">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <label class="cb-checkbo">
                        <input type="checkbox" class="cb-checkbox"><span class="cb-checkbo__content">Instagram</span>
                      </label>
                    </div>
                  </div>
                  <div class="row m-t10">
                    <div class="col-xs-12">
                      <div class="form-group form-sign">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="clearfix">
                    <button class="btn btn-primary">UPLOAD COMPANY BANNER</button><span class="lato text-lighten m-l20">Upload 870 px X 100 px for better look</span>
                  </div>
                </div>
              </div>
              <div class="row">.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h4 class="text-caps">Product catalog</h4>
            <ul>
              <li> <a href="">Publishing</a></li>
              <li> <a href="">Technology</a></li>
              <li> <a href="">Crafts</a></li>
              <li> <a href="">Design</a></li>
              <li> <a href="">Game</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4 class="text-caps">Shop</h4>
            <ul>
              <li> <a href="">How it works</a></li>
              <li> <a href="">About Us</a></li>
              <li> <a href="">Contact Us</a></li>
              <li> <a href="">Policies</a></li>
              <li> <a href="">Site map</a></li>
            </ul>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3 col-sm-6">
            <ul class="pull-sm-right social">
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-twitter"></i></a></li>
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-facebook"></i></a></li>
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="copyright">
          <p class="copyright__text">© Styli.ST 2015</p>
        </div>
      </div>
    </footer>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
