views/sign-in.build.jade
extends includes/layout
block content
	.page-content
		.container
			.row
				.col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
					h2.title__login.text-center.login__indent
						| LOG IN
					p.error__text.text-center
						| Invalid email or password
					p.form-text-sign
						| E-mail
					.form-group.form-sign.has-error
						input.form-control(type="text")
					.clearfix
						p.form-text-sign.pull-left
							| Password
						.pull-right
							a(href="").link__page
								i forgot password
					.form-group.form-sign
						input.form-control(type="text")
					.row
						.col-sm-6.col-sm-offset-3
							.form-group
								button.btn-primary.btn-pull
									| LOG IN
					.text-center
						.row
							.col-xs-12.form-sign
								a(href="").link__page
									i I don’t have an account
						.row
							.col-xs-12
								a(href="").link__page
									i Sell on Stylist page
					.row
						.col-xs-12
							.block__or
								| or
					.row
						.col-xs-12
							button.btn-pull.btn__social.btn-facebook.text-caps
								i.fa.fa-facebook
								| Log in with facebook
					.row
						.col-xs-12
							button.btn-pull.btn__social.btn-twitter.text-caps
								i.fa.fa-twitter
								| Log in with twitter
					.row
						.col-xs-12
							button.btn-pull.btn__social.btn-instagram.text-caps
								i.fa.fa-instagram
								| Log in with instagram
					.row
						.col-xs-12
							button.btn-pull.btn__social.btn-google.text-caps
								i.fa.fa-google
								| Log in with google

build/sign-in.html
<!DOCTYPE html>
<html>
  <head>
    <title>Styli.st</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header clearfix">
        <div class="container header__content"><a href="" class="logo">styli.st</a>
          <button class="btn btn-menu"><i class="icon-menu"></i><span>Menu</span></button>
          <ul class="menu menu-right">
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-plus"></i><span>Sell</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-user"></i><span>login</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link"><i class="icon-cart"></i><span>cart</span></a></li>
            <li class="menu__item"><a href="" class="menu__item__link">
                <button class="btn btn-search"><i class="fa fa-search"></i></button></a></li>
          </ul>
          <ul class="menu">
            <li class="menu__item"><a href="" class="menu__item__link">Product catalog</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">Contact Us</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">Our vendors</a></li>
            <li class="menu__item"><a href="" class="menu__item__link">How it works</a></li>
          </ul>
        </div>
      </header>
      <div class="page-content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
              <h2 class="title__login text-center login__indent">LOG IN</h2>
              <p class="error__text text-center">Invalid email or password</p>
              <p class="form-text-sign">E-mail</p>
              <div class="form-group form-sign has-error">
                <input type="text" class="form-control">
              </div>
              <div class="clearfix">
                <p class="form-text-sign pull-left">Password</p>
                <div class="pull-right"><a href="" class="link__page"><i>forgot password</i></a></div>
              </div>
              <div class="form-group form-sign">
                <input type="text" class="form-control">
              </div>
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <div class="form-group">
                    <button class="btn-primary btn-pull">LOG IN</button>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <div class="row">
                  <div class="col-xs-12 form-sign"><a href="" class="link__page"><i>I don’t have an account</i></a></div>
                </div>
                <div class="row">
                  <div class="col-xs-12"><a href="" class="link__page"><i>Sell on Stylist page</i></a></div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="block__or">or</div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <button class="btn-pull btn__social btn-facebook text-caps"><i class="fa fa-facebook"></i>Log in with facebook</button>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <button class="btn-pull btn__social btn-twitter text-caps"><i class="fa fa-twitter"></i>Log in with twitter</button>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <button class="btn-pull btn__social btn-instagram text-caps"><i class="fa fa-instagram"></i>Log in with instagram</button>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <button class="btn-pull btn__social btn-google text-caps"><i class="fa fa-google"></i>Log in with google</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h4 class="text-caps">Product catalog</h4>
            <ul>
              <li> <a href="">Publishing</a></li>
              <li> <a href="">Technology</a></li>
              <li> <a href="">Crafts</a></li>
              <li> <a href="">Design</a></li>
              <li> <a href="">Game</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4 class="text-caps">Shop</h4>
            <ul>
              <li> <a href="">How it works</a></li>
              <li> <a href="">About Us</a></li>
              <li> <a href="">Contact Us</a></li>
              <li> <a href="">Policies</a></li>
              <li> <a href="">Site map</a></li>
            </ul>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3 col-sm-6">
            <ul class="pull-sm-right social">
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-twitter"></i></a></li>
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-facebook"></i></a></li>
              <li class="social__item"><a href="" class="social__item__link"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="copyright">
          <p class="copyright__text">© Styli.ST 2015</p>
        </div>
      </div>
    </footer>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
